In [1]:
import pandas as pd
import numpy as np
import ta

In [2]:
def clean_ds (df):
    for i in range(1, 4):  
        df[f'X_t-{i}'] = df['Close'].shift(i)

    # Shift Close Column up by 5 rows
    df['Pt_5'] = df['Close'].shift(-5)

    #Agregamos RSI
    rsi_data = ta.momentum.RSIIndicator(close= df['Close'], window=28)
    df['RSI'] = rsi_data.rsi()

    # La Y
    df['Y_BUY'] = df['Close'] * (1 + 0.02) < df['Pt_5']
    df['Y_SELL'] = df['Close'] * (1 - 0.02) > df['Pt_5']
    
    df['Y_BUY'] = df['Y_BUY'].astype(int)
    df['Y_SELL'] = df['Y_SELL'].astype(int)

    return df

In [3]:
data_1 = pd.read_csv('../data/aapl_1d_train.csv')
data_1

,Date,Open,High,Low,Close,Adjusted_close,Volume
0,2000-01-03,104.8768,112.5040,101.6848,111.9328,0.8472,535796800
1,2000-01-04,108.2480,110.6224,101.1920,102.5024,0.7758,512377600
2,2000-01-05,103.7456,110.5664,102.9952,104.0032,0.7872,778321600
3,2000-01-06,106.1200,107.0048,94.9984,94.9984,0.7190,767972800
4,2000-01-07,96.4992,101.0016,95.5024,99.5008,0.7531,460734400
...,...,...,...,...,...,...,...
5279,2020-12-24,131.3200,133.4600,131.1000,131.9700,129.6797,54930100
5280,2020-12-28,133.9900,137.3400,133.5100,136.6900,134.3178,124486200
5281,2020-12-29,138.0500,138.7900,134.3400,134.8700,132.5294,121047300
5282,2020-12-30,135.5800,135.9900,133.4000,133.7200,131.3994,96452100
5283,2020-12-31,134.0800,134.7400,131.7200,132.6900,130.3872,99116600

In [6]:
clean_ds(data_1).head(30)

,Date,Open,High,Low,Close,Adjusted_close,Volume,X_t-1,X_t-2,X_t-3,Pt_5,RSI,Y_BUY,Y_SELL
0,2000-01-03,104.8768,112.5040,101.6848,111.9328,0.8472,535796800,NaN,NaN,NaN,97.7536,NaN,0,1
1,2000-01-04,108.2480,110.6224,101.1920,102.5024,0.7758,512377600,111.9328,NaN,NaN,92.7472,NaN,0,1
2,2000-01-05,103.7456,110.5664,102.9952,104.0032,0.7872,778321600,102.5024,111.9328,NaN,87.1920,NaN,0,1
3,2000-01-06,106.1200,107.0048,94.9984,94.9984,0.7190,767972800,104.0032,102.5024,111.9328,96.7456,NaN,0,0
4,2000-01-07,96.4992,101.0016,95.5024,99.5008,0.7531,460734400,94.9984,104.0032,102.5024,100.4416,NaN,0,0
5,2000-01-10,101.9984,102.2448,94.7520,97.7536,0.7399,505064000,99.5008,94.9984,104.0032,103.9360,NaN,1,0
6,2000-01-11,95.9392,99.3776,90.4960,92.7472,0.7020,441548800,97.7536,99.5008,94.9984,106.5680,NaN,1,0
7,2000-01-12,94.9984,95.5024,86.4976,87.1920,0.6599,976068800,92.7472,97.7536,99.5008,113.5008,NaN,1,0
8,2000-01-13,94.4832,98.7504,92.5008,96.7456,0.7322,1032684800,87.1920,92.7472,97.7536,111.3168,NaN,1,0
9,2000-01-14,100.0048,102.2448,99.3776,100.4416,0.7602,390376000,96.7456,87.1920,92.7472,106.2544,NaN,1,0
10,2000-01-18,101.0016,105.9968,100.4416,103.9360,0.7867,459177600,100.4416,96.7456,87.1920,112.2464,NaN,1,0
11,2000-01-19,105.6272,108.7520,103.3760,106.5680,0.8066,597643200,103.9360,100.4416,96.7456,110.1856,NaN,1,0
12,2000-01-20,115.5056,121.4976,113.5008,113.5008,0.8591,1831132800,106.5680,103.9360,100.4416,109.9952,NaN,0,1
13,2000-01-21,114.2512,114.2512,110.1856,111.3168,0.8425,495924800,113.5008,106.5680,103.9360,101.6288,NaN,0,1
14,2000-01-24,108.4384,112.7504,105.1232,106.2544,0.8042,440876800,111.3168,113.5008,106.5680,103.7456,NaN,0,1
15,2000-01-25,105.0000,113.1200,102.3792,112.2464,0.8496,497145600,106.2544,111.3168,113.5008,100.2512,NaN,0,1
16,2000-01-26,109.9952,114.1840,109.7488,110.1856,0.8340,367158400,112.2464,106.2544,111.3168,98.8176,NaN,0,1
17,2000-01-27,108.8080,112.9968,107.0048,109.9952,0.8325,340144000,110.1856,112.2464,106.2544,103.3088,NaN,0,1
18,2000-01-28,108.1920,110.8800,100.6208,101.6288,0.7692,423348800,109.9952,110.1856,112.2464,108.0016,NaN,1,0
19,2000-01-31,101.0016,103.8800,94.5056,103.7456,0.7852,701680000,101.6288,109.9952,110.1856,114.0608,NaN,1,0
20,2000-02-01,104.0032,105.0000,100.0048,100.2512,0.7588,318035200,103.7456,101.6288,109.9952,114.8784,NaN,1,0
21,2000-02-02,100.7552,102.1216,97.0032,98.8176,0.7479,464195200,100.2512,103.7456,101.6288,112.6272,NaN,1,0
22,2000-02-03,100.3072,104.2496,100.2512,103.3088,0.7819,475193600,98.8176,100.2512,103.7456,113.5008,NaN,1,0
23,2000-02-04,103.9360,109.9952,103.6224,108.0016,0.8174,425320000,103.3088,98.8176,100.2512,108.7520,NaN,0,0
24,2000-02-07,108.0016,114.2512,105.9408,114.0608,0.8633,441067200,108.0016,103.3088,98.8176,115.8080,NaN,0,0
25,2000-02-08,114.0048,116.1216,111.2496,114.8784,0.8695,408643200,114.0608,108.0016,103.3088,119.0000,NaN,1,0
26,2000-02-09,114.1280,117.1296,112.4368,112.6272,0.8524,299364800,114.8784,114.0608,108.0016,114.1280,NaN,0,0
27,2000-02-10,112.8736,113.8704,109.9952,113.5008,0.8591,302982400,112.6272,114.8784,114.0608,114.8784,54.167341,0,0
28,2000-02-11,113.6240,114.1280,108.2480,108.7520,0.8231,212251200,113.5008,112.6272,114.8784,111.2496,50.520908,1,0
29,2000-02-14,109.3120,115.8752,108.6288,115.8080,0.8765,367539200,108.7520,113.5008,112.6272,113.8144,55.170973,0,0